.advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__header {
    position: relative;

    display: flex;
    align-items: center;

    margin: 0 2%;

    &--centered {
      margin: 0 15%;
    }
  }

  &__marker {
    position: relative;

    width: 106px;
    height: 106px;

    border-radius: 50%;
    background: linear-gradient(90deg, rgba($color-marker, 1) 0%, rgba($white, 1) 100%);
  }

  &__number {
    position: absolute;
    top: -10px;
    left: 7px;

    display: inline-block;

    font-size: 96px;
    font-weight: $font-weight-bold;

    color: rgba($white, .5);

    &--out {
      left: -7px;
    }
  }

  &__heading {
    position: absolute;
    top: auto;

    margin-left: 53px;

    font-size: $fz-advantage-heading;
    font-weight: $font-weight-bold;

    color: $color-heading;

    &--one {
      margin-left: 60px;
    }
  }

  &__text {
    font-weight: $font-weight-medium;
    text-align: center;
    text-wrap: wrap;

    margin-top: 15px;
  }
}