.features {
  &__heading {
    @include heading;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    margin-top: 26px;

    @media (min-width: 768px) {
      align-items: center;
    }
  }
}