.offer {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 117px;

    background-color: $white;
    content: "";
  }

  &__container {
    position: relative;
    z-index: 1;

    padding-bottom: 45px;
    
  }

  &__image {
    position: relative;
    z-index: 0;

    width: 372px;
    height: 359px;

    margin-top: 26px;

    &-pic {
      position: absolute;
      top: 0;
      left: -30px;
      z-index: 2;
      
      object-fit: cover;
    }
  }

  &__form {
    padding: 16px 12px 27px 12px;

    border: 1px dashed $white;
    border-radius: 10px;
    box-shadow: $box-shadow;

    background-color: $color-timer-background;

    @media (min-width: 768px) {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  &--bottom {
    &::before {
      display: none;
    }
  }
  &--bottom & {
    &__container {
      padding-bottom: 30px;
    }
  }
}