/**
* Colors
*/
$black: #000;
$astronaut: #232E72;
$minsk: #312A7C;
$kashmir-blue: #495A95;
$dodger-blue: #3A5CFD;
$cornflower-blue: #50AAF6;
$french-pass: #B9DFFF;
$white: #FFF;
$monza: #DA010A;
$red-orange: #FF3131;
$guardsman-red: #BE0600;
$silver-chalice: #A3A3A3;

$color-text: $black;
$color-heading: $astronaut;
$color-background: $white;
$color-timer-background: $cornflower-blue;
$color-timer-segment: $guardsman-red;
$color-price-old: $astronaut;
$color-price-new: $red-orange;
$color-placeholder: $silver-chalice;
$color-button: $astronaut;
$color-section: $french-pass;
$color-marker: $red-orange;
$color-accent-number: $red-orange;
$color-feature-text: $kashmir-blue;
$color-expert-text: $minsk;
$color-review-text: $astronaut;
$color-order-text: $astronaut;
/**
* Fonts
*/
$font-size-base: 18px;

$font-size-mini: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 20px;
$font-size-big: 24px;
$font-size-huge: 36px;

$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-heavy: 600;
$font-weight-demi: 700;
$font-weight-bold: 900; 

$font-family-default: 'Arial', 'Helvetica', sans-serif;
$font-family-custom: 'FuturaPT';
$font-family: $font-family-custom, $font-family-default;
$font-path: '/src/fonts';

$fz-main-heading: $font-size-huge;
$fz-timer: $font-size-huge;
$fz-advantage-heading: $font-size-big;

/**
* Layout
*/
$container-width-desktop: 1240px;
$container-width-tablet: 728px;
$container-width-mobile: 320px;

$gap-container: 20px;

/**
* Other
*/
$box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);